<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emp_name %><br>
    <%= f.text_field :emp_name %>
  </div>
  <div class="field">
    <%= f.label :emp_type %><br>
    <%= f.text_field :emp_type %>
  </div>
  <div class="field">
    <%= f.label :emp_email %><br>
    <%= f.text_area :emp_email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
